<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>coba apps Penjual</title>
    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>

</head>

<body>
    <body>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/">Penjual</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="ikan/">Ikan</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="pembeli/">Pembeli</a>
            </li>

          </ul>
        </div> -->
      </nav>
        <div class="container">
          <form method="POST" action="" class="mt-3">
            {% csrf_token %}
            <div class="form-group">
              <label for="exampleInputEmail1"> Nama Penjual : </label>
              <input type="text" name="nm_penjual" class="form-control">
              <label for="exampleInputEmail1"> Email : </label>
              <input type="text" name="email" class="form-control">
              <label for="exampleInputEmail1"> Nomer Telfon : </label>
              <input type="text" name="no_telf" class="form-control">
              <label for="exampleInputEmail1"> Data Ikan : </label>
              <input type="text" name="data_ikan" class="form-control">
              <label for="exampleInputEmail1"> Ikan Terjual: </label>
              <input type="text" name="ikan_terjual" class="form-control">
              <label for="exampleInputEmail1"> Stok : </label>
              <input type="text" name="stok" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Tambah</button>
          </form>
          <br>
          <div class="row">
            <div class="col">
              <table class="table">
                 <thead class="thead-dark">
                  <tr>
                    <th scope="col">ID Penjual</th>
                    <th scope="col">Nama Penjual</th>
                    <th scope="col">Email</th>
                    <th scope="col">Nomer Telfon</th>
                    <th scope="col">Data Ikan</th>
                    <th scope="col">Ikan Terjual</th>
                    <th scope="col">Stok</th>
                    <th scope="col">Aksi</th>
                  </tr>
                </thead>
                </td>
                </tr>
                {% for j in data %}
                <tr>
                  <th scope="row">{{forloop.counter}}</th>  <!-- forloop untuk menampilkan(mastiin) nomer terurut tabel-->
                  <td>{{j.nm_penjual}}</td>
                  <td>{{j.email}}</td>
                  <td>{{j.no_telf}}</td>
                  <td>{{j.data_ikan}}</td>
                  <td>{{j.ikan_terjual}}</td>
                  <td>{{j.stok}}</td>
                  <td>
                      <a class="btn btn-sm btn-success" href="/{{j.id}}">View</a>
                      <a class="btn btn-sm btn-warning" href="/{{j.id}}/update">Edit</a>
                      <a class="btn btn-sm btn-danger" href="/{{j.id}}/delete">Delete</a>
                  </td>
                  </td> 
                </tr>
                {% endfor %}

</body>

</html>