<div class="container">
    <div class="row">
        <div class="col-sm">
            <form method="POST" class="mt-3">
                {% csrf_token %}
                <div class="form-group">
                    <h4> Edit Penjual </h4><br>
                    Edit Nama : <input type="text" name="nm_penjual" class="form-control" value="{{data.nm_penjual}}"><br><br>
                    Edit Alamat : <input type="text" name="alamat" class="form-control" value="{{data.alamat}}"><br><br>
                    Edit No Telf : <input type="number" name="no_telf" class="form-control" value="{{data.no_telf}}"><br><br>
                    Edit Stok Ikan Hias : <input type="number" name="stok_ikan_hias" class="form-control" value="{{data.stok_ikan_hias}}"><br><br>
                    Edit Stok Ikan Konsumsi : <input type="number" name="stok_ikan_konsum" class="form-control" value="{{data.stok_ikan_konsum}}"><br><br>
                    Edit Total Terjual : <input type="number" name="total_terjual" class="form-control" value="{{data.total_terjual}}"><br><br>
                    <button type="submit" class="btn btn-primary mt-2">Simpan</button>
                </div>
            </form>
        </div>
        <input type="button" class="btn btn-outline-primary"" aria-pressed="false" data-toggle="button" value="Kembali" onclick="history.back(-1)" />
    </div>
</div>
