<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="table-responsive">
                <table class="table table-hover mt-3">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nama Pembali </th>
                            <th scope="col">Alamat</th>
                            <th scope="col">Total Beli</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">{{data.id}}</th>
                            <td>{{data.nama_pmbli}}</td>
                            <td>{{data.alamat}}</td>
                            <td>{{data.total_beli}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>