<div class="container">
    <div class="row">
        <div class="col-sm">
            <form method="POST" class="mt-3">
                {% csrf_token %}
                <div class="form-group">
                    <h4> Selamat Ngedit Sesuai Selera</h4><br>
                    <input type="text" name="name" class="form-control" value="{{data.name}}">
                    <input type="text" name="warna" class="form-control" value="{{data.warna}}">
                    <input type="text" name="jenis_makanan" class="form-control" value="{{data.jenis_makanan}}">
                    <button type="submit" class="btn btn-primary mt-2">Simpan</button>
                </div>
            </form>
        </div>
    </div>
</div>