<div class="container">
    <div class="row">
        <div class="col-sm">
            <form method="POST" class="mt-3">
                {% csrf_token %}
                <div class="form-group">
                    <h4> Edit Iwak Konsumsi </h4><br>
                    <input type="text" name="nama_iwak" class="form-control" value="{{data.nama_iwak}}">
                    <input type="text" name="jenis" class="form-control" value="{{data.jenis}}">
                    <input type="number" name="harga" class="form-control" value="{{data.harga}}">
                    <button type="submit" class="btn btn-primary mt-2">Simpan</button>
                </div>
            </form>
        </div>
    </div>

    <input type="button" class="btn btn-outline-primary"" aria-pressed="false" data-toggle="button" value="Kembali" onclick="history.back(-1)" />
