<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="table-responsive">
                <table class="table table-hover mt-3">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Jenis Ikan </th>
                            <th scope="col">Harga</th>
                            <th scope="col">Diskon</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">{{data.id}}</th>
                            <td>{{data.jenis}}</td>
                            <td>{{data.harga}}</td>
                            <td>{{data.diskon}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>